
.menu {
  box-sizing: border-box;
  background-color: #0a2750;
  background-image: url(../images/background_menu.svg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1100px;
  /* margin: 0px 75px 0 75px; */
}

.menu__title {
  width: 780px;
  position: relative;
  top: 100px;
  margin-bottom: 24px;
}

.menu_menu__title {
  display: flex;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  margin-top: 0;
}

.menu__subtitle {
  max-width: 780px;
  position: relative;
  padding-top: 24px;
}

.menu_menu__Subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  padding-top: 24px;
}
