
.recipes {
    box-sizing: border-box;
    background-color: #fff;
    background-image: url(../images/background_recipes.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    
  }
  
  .recipes__title {
    max-width: 580px;
    margin-top: 100px;
    margin-left: 80px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
  }
  
  .recipes__subtitle {
    max-width: 438px;
    margin-top: 24px;
    padding-left: 80px;
    text-align: left;
    font-family: "Noto Serif";
    font-size: 20px;
    line-height: 30px;
  }
  
  .title__recipe {
    margin: 0 auto 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
  }
  
  .subtitle__recipe {
    margin: 0 auto 0;
  }
  
  .recipes__videos {
    display: flex;
    gap: 40px;
    position:relative;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 215px;
  }
  
  .recipes__video-caption {
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    top: 24px;
  }